[Unit]
Description=Minecraft Server Control Script for server %i
Documentation=https://github.com/MinecraftServerControl/mscs
Requires=network.target
After=network.target

[Service]
User=minecraft
Group=minecraft
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
ExecStart=/usr/local/bin/mscs start %i
ExecStop=/usr/local/bin/mscs stop %i
ExecReload=/usr/local/bin/mscs restart %i
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
