[Unit]
Description=Minecraft Server Control Script
Documentation=https://github.com/sandain/MinecraftServerControlScript
Requires=network.target
After=network.target

[Service]
User=minecraft
Group=minecraft
ExecStart=/usr/local/bin/mscs start
ExecStop=/usr/local/bin/mscs stop
ExecReload=/usr/local/bin/mscs restart
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
